aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiokafka==0.13.0
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
boto3==1.42.68
botocore==1.42.68
delta-spark==4.1.0
frozenlist==1.8.0
idna==3.11
importlib_metadata==8.7.1
jmespath==1.1.0
multidict==6.7.1
packaging==26.0
propcache==0.4.1
py4j==0.10.9.9
pyspark==4.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.16.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
zipp==3.23.0
